/** 组件相关样式 */
.flex-container {
  width: 100%;
  border: 0.5px solid #e0e0e0;
  background: #f1f1f1;
  .drag-wrapper {
    min-height: 200px;
    padding: 0.5px;
  }
}
.draggable-render-item {
  margin: 1px;
  &:hover {
    outline: #5584ff dashed 1px;
    cursor: pointer;
    border-radius: 0;
  }
  &.render-item-active {
    outline: #369c36 solid 2px;
    border-radius: 0;
  }
  &.is-col {
    display: block;
    width: 100%;
  }
}
#draggable-drawing-board {
  width: 100%;
  min-height: 100%;
  padding: 10px;
}
