/** 组件相关样式 */
.flex-container {
  width: 100%;
  border: 1px solid #5584ff;
  background: #f1f1f1;
  .drag-wrapper {
    min-height: 200px;
    padding: 0.5px;
  }
}
/** 拖拽元素相关样式 */
.draggable-render-item {
  margin: 1px;
  &:hover {
    cursor: pointer;
  }
  &.render-item-active {
    outline: 2px solid #75b325;
    border-radius: 0;
  }
  &.is-col {
    display: block;
    width: 100%;
  }
}
/** 被拖拽元素影子样式 */
.draging-item-class {
  opacity: 0.25;
}
#draggable-drawing-board {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  background-color: #edeff3;
  float: right;
}

